[submodule "Frameworks/IntAirAct"]
	path = Frameworks/IntAirAct
	url = https://github.com/ArloL/IntAirAct.git
[submodule "Frameworks/MWPhotoBrowser"]
	path = Frameworks/MWPhotoBrowser
	url = https://github.com/mwaterfall/MWPhotoBrowser.git
